body
{    
    font-family:Tahoma/*, Sans-Serif, Arial*/;
    font-size:8pt;
}

.reciboFila0100porCiento
{
    width: 220px;
    height: 10px;
    padding:3px 0;
    clear: both;
}

.reciboTituloFila0100porCiento
{
    width: 220px;
    height: 10px;
    margin:5px 0;
    padding:3px 0;
    font-size:6pt;
    border-top:1px solid black;
    border-bottom:1px solid black;
    clear: both;
}

.reciboEspacio0100porCiento
{
    width: 220px;
    height: 5px;
    clear: both;
}

.reciboLinea0100porCiento
{
    width: 220px;
    height: 5px;
    margin-top:3px;    
    border-top:1px dashed black;
    clear: both;
}

/*Sub-Total*/
.reciboTextoSubTotal
{
    width: 150px;
    height: 10px;    
    line-height:10px;
    text-align:right;
    float:left;
}

.reciboMontoSubTotal
{
    width: 60px;
    height: 10px;
    padding-right:5px;
    line-height:10px;
    text-align:right;
    font-weight:bold;
    float:left;
}

.reciboMontoSubTotal02 /*SIN NEGRITA*/
{
    width: 60px;
    height: 10px;
    padding-right:5px;
    line-height:10px;
    text-align:right;
    /*font-weight:bold;*/
    float:left;
}

.reciboMontoSubTotal03 /*CON SUBRAYADO*/
{
    width: 60px;
    height: 10px;
    /*margin-top:3px;*/
    padding-right:5px;
    line-height:10px;
    text-align:right;
    font-weight:bold;
    border-top:1px solid black;
    float:left;
}

/*Cabecera*/
.reciboTextoTitulo
{
    width: 220px;
    /*height: 10px;*/
    height:auto;
    line-height:10px;
    text-align:center;
    font-weight:bold;
    font-size:9pt;
    float:left;
}

.reciboTextoCabecera
{
    width: 60px;
    height: 10px;    
    line-height:10px;
    text-align:left;
    float:left;
}

.reciboContenidoCabecera01
{
    width: 65px;
    height: 10px;    
    line-height:10px;
    text-align:left;    
    float:left;
}

.reciboContenidoCabecera02
{
    width: 160px;
    /*height: 10px;*/
    height:auto;
    line-height:10px;
    text-align:left;    
    float:left;
}

.reciboContenidoCabecera03
{
    width: 35px;
    height: 10px;    
    line-height:10px;
    text-align:left;    
    float:left;
}

/*Pie de Pagina*/
.reciboTextoPie
{
    width: 70px;
    height: 10px;    
    line-height:10px;
    text-align:left;
    float:left;
}

.reciboTextoPie02
{
    width: 40px;
    height: 10px;    
    line-height:10px;
    text-align:left;
    float:left;
}

.reciboContenidoPie01
{
    width: 55px;
    height: 10px;    
    line-height:10px;
    text-align:left;    
    float:left;
}

.reciboContenidoPie02
{
    width: 150px;
    height: 10px;    
    line-height:10px;
    text-align:left;
    float:left;
}

.reciboContenidoPie04
{
    width: 150px;
    /*height: 10px;*/
    height:auto;
    line-height:10px;
    text-align:left;
    float:left;
}

.reciboContenidoPie03
{
    width: 65px;
    height: 10px;    
    line-height:10px;
    text-align:left;    
    float:left;
}

/*Sub Cabecera*/
.reciboTextoSubCabecera01
{
    width: 40px;
    height: 10px;    
    line-height:10px;
    text-align:left;
    float:left;
}

.reciboTextoSubCabecera02
{
    width: 20px;
    height: 10px;    
    line-height:10px;
    text-align:left;
    float:left;
}

.reciboContenidoSubCabecera01
{
    width: 180px;
    /*height: 10px;*/
    height: auto;
    line-height:10px;
    text-align:left;    
    float:left;    
}

.reciboContenidoSubCabecera02
{
    width: 60px;
    height: 10px;    
    line-height:10px;
    text-align:left;    
    float:left;
}

.reciboContenidoSubCabecera03
{
    width: 100px;
    /*height: 10px;*/
    height: auto;
    /*overflow:auto;*/
    line-height:10px;
    text-align:left;    
    float:left;
}

.reciboContenidoSubCabecera04
{
    width: 70px;
    height: 10px;
    /*height: auto;*/
    line-height:10px;
    text-align:left;    
    float:left;
}

.reciboContenidoSubCabecera04Fecha
{
    width: 60px;
    height: 10px;
    /*height: auto;*/
    line-height:10px;
    text-align:left;    
    float:left;
    margin-right:5px;
}


/*Items*/
.reciboItemTitulo01
{
    width:45px;/*30px*/
	height:10px;		
	text-align:center;
	font-weight:bold;
	line-height:10px;
	float:left;
}

.reciboItem01
{
    width:45px;/*30px*/
	height:10px;		
	text-align:center;
	line-height:10px;
	float:left;
}

.reciboItemDescripcionTitulo01
{
    width:55px;/*60px*/
	height:10px;		
	text-align:center;
	font-weight:bold;
	line-height:10px;
	float:left;
}

.reciboItemDescripcion01
{
    width:60px;
	height:10px;		
	text-align:center;
	line-height:10px;
	float:left;
}

.reciboItemDescripcion02
{
    width:60px;
	height:10px;		
	text-align:left;
	line-height:10px;
	float:left;
}

.reciboItemMontoTitulo01
{
    width:85px;/*70px*/
	height:10px;		
	text-align:center;
	font-weight:bold;
	line-height:10px;
	float:left;
}

.reciboItemMonto01
{
    width:75px;/*60px*/
	height:10px;
	padding-right:5px;
	text-align:right;
	line-height:10px;
	float:left;
}

/*Centro*/
.reciboCenCero001
{
	width:220px;
	height:10px;
	text-align:center;
	font-weight:bold;
	line-height:10px;
	float:left;
}
.reciboCenCero002
{
	width:110px;
	height:10px;		
	text-align:center;
	line-height:10px;
	float:left;
}
.reciboCenCero004
{
	width:55px;
	height:10px;		
	text-align:center;
	line-height:10px;
	float:left;
}
.reciboCenCero005
{
	width:45px;
	height:10px;		
	text-align:center;
	line-height:10px;
	float:left;
}
.reciboTituloCenCero005
{
	width:45px;
	height:10px;	
	text-align:center;
	font-weight:bold;
	line-height:10px;
	float:left;
}

/*Izquierda sin padding*/
.reciboIzqCero001
{
	width:220px;
	height:10px;	
	text-align:left;
	font-weight:bold;
	line-height:10px;
	font-size:6pt;
	float:left;
}
.reciboIzqCero002
{
	width:110px;
	height:10px;	
	text-align:left;
	line-height:10px;
	float:left;
}
.reciboIzqCero004
{
	width:55px;
	height:10px;	
	text-align:left;
	line-height:10px;
	float:left;
}
.reciboIzqCero005
{
	width:45px;
	height:10px;	
	text-align:left;
	line-height:10px;
	float:left;
}

/*Izquierda con padding*/
.reciboIzqDiez001
{
	width:210px;
	height:10px;	
	padding-left:10px;
	text-align:left;
	line-height:10px;
	float:left;
}
.reciboIzqDiez002
{
	width:100px;
	height:10px;	
	padding-left:10px;	
	text-align:left;
	line-height:10px;
	float:left;
}
.reciboIzqDiez004
{
	width:45px;
	height:10px;	
	padding-left:10px;
	text-align:left;
	line-height:10px;
	float:left;
}
.reciboIzqDiez005
{
	width:35px;
	height:10px;	
	padding-left:10px;
	text-align:left;
	line-height:10px;
	float:left;
}

/*Derecha sin padding*/
.reciboDerCero001
{
	width:220px;
	height:10px;	
	text-align:right;
	line-height:10px;	
	float:left;
}
.reciboDerCero002
{
	width:110px;
	height:10px;		
	text-align:right;
	line-height:10px;
	float:left;
}
.reciboDerCero004
{
	width:55px;
	height:10px;	
	text-align:right;
	line-height:10px;
	float:left;
}
.reciboDerCero005
{
	width:45px;
	height:10px;	
	text-align:right;
	line-height:10px;
	float:left;
}
