       
       /* 
       .TextImpre
    {
        font-size:20px;
	    font-family:DilleniaUPC;	
        font-stretch: ultra-condensed;
        font-weight: lighter;         
        word-spacing: -0.12em;
	    color: Black;
    }
    .TextDetrac
    {
        font-size:18px;
	    font-family:DilleniaUPC;	
        font-stretch: ultra-condensed;
        font-weight: lighter;         
        word-spacing: -0.12em;
	    color: Black;
    }
    .TextDatos
    {
        font-size:18px;
	    font-family:DilleniaUPC;	
        line-height: 100%; 
        font-weight: lighter; 
	    font-stretch: ultra-condensed;
	    color: Black;
    }
    .TextSerRecau
    {
        font-size: 20px;
        font-family:DilleniaUPC;		
        font-stretch: ultra-condensed;
        color: Black;
        font-weight: bold;
    }
    .Titulo
    {
        font-size:35px;
        font-family:Arial;	
        color: Black;
    }
    .Numeros
    {
        font-size:20px;
	    font-family:DilleniaUPC;	
	    color: Black;
    }   
   
   
   
   

 */
    .TextImpre
    {
        font-size:20px;
	    font-family:Print Bold, Arial, sans-serif;	
        font-stretch: ultra-condensed;
        font-weight: lighter;         
        word-spacing: -0.12em;
	    color: Black;
    }
    .TextDetrac
    {
        font-size:18px;
	    font-family:Print Bold, Arial, sans-serif;	
        font-stretch: ultra-condensed;
        font-weight: lighter;         
        word-spacing: -0.12em;
	    color: Black;
    }
    .TextDatos
    {
        font-size:18px;
	    font-family:Print Bold, Arial, sans-serif;	
        line-height: 100%; 
        font-weight: lighter; 
	    font-stretch: ultra-condensed;
	    color: Black;
    }
    .TextSerRecau
    {
        font-size: 20px;
        font-family:Print Bold, Arial, sans-serif;		
        font-stretch: ultra-condensed;
        color: Black;
        font-weight: bold;
    }
    .Titulo
    {
        font-size:35px;
        font-family:Arial;	
        color: Black;
    }
    .Numeros
    {
        font-size:20px;
	    font-family:Print Bold, Arial, sans-serif;	
	    color: Black;
    }   