@charset "utf-8";

/* INICIO NUEVO CSS Document */

.btnNav
{
        padding-top: 3px;
        padding-left: 10px;
        padding-right: 10px;
        color: #6E206E;
        font-size: 11px;
        font-family: Calibri, Verdana, Arial;
        text-decoration: none;
        height: 25px;
}

BODY 
{
    /*test*/
	margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
	font-size:10.5px;
	color:#8b8a8a;
    height: 143px;
}
BODY.home {
	background:url(../Imagenes/bg-login.gif)#fff no-repeat  center top; OVERFLOW: auto;
	background-image:url(../Imagenes/bg-login.gif);
	background-repeat:no-repeat;
	background-position:center top;
	overflow:auto;
}



#container {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 900px; border-width:0px; border-style:solid; border-color:#036;
}
.bgtblogin{
	height:134px;
	background-repeat:no-repeat;
}
.txt-version-navegador{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#777777;	
}
.txt-error-navegador{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#777777;
	background-color:#FFF;
	filter:alpha(opacity=80);
	-moz-opacity:.80;opacity:.80;
	padding:8px; 
}
.txt-error-rojo-login{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#fd0606;
	background-color:#FFF;
	filter:alpha(opacity=80);
	-moz-opacity:.80;opacity:.80;
	padding:8px; 
}
.txt-cab-usuario{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;	
}
/*.cab-bg-inter{background-image:url(../Imagenes/bg-cab-inter.jpg);*/
background-position:right;
background-repeat:no-repeat;
}
.cab-bg-color{background-image:url(../Imagenes/img-cab-color.gif);
background-position:right;
background-repeat:no-repeat;
width:354px;
}
.cab-bg-2{
width:315px;
background-color:#843388;
}
.cab-bg-1{
	height:3px;
	background-color:#843388;
}
.ctl00_wucMenuDinamico2_MnDinamico_3 {
	font-family:Arial, Helvetica, sans-serif !Important;
	font-size:11px !Important;
	color:#686168 !Important;	
}
.footer
{
    border-top: 1px solid #75127d;
    margin: auto auto 0px auto;
    clear: both;        
}

/*INI MENU  CABECERA*/
.ctl00_wucMenuDinamico2_MnDinamico_8{
	margin-top:3px!Important;
	background-color:#efefef!Important;
	border-bottom-width:1px !Important;
	border-bottom-style:solid!Important;
	border-bottom-color:#dedede!Important;
	
	border-top-width:2px !Important;
	border-top-style:solid!Important;
	border-top-color:#dedede!Important;
	
	border-left-width:1px !Important;
	border-left-style:solid!Important;
	border-left-color:#dedede!Important;
	
	border-right-width:1px !Important;
	border-right-style:solid!Important;
	border-right-color:#dedede!Important;

	margin-left:0px !Important;
	margin-right:0px !Important;
	padding-left:0px !Important;
	padding-right:0px !Important;
}
.ctl00_wucMenuDinamico2_MnDinamico_7{
	width:100% !Important;
	cursor:hand !Important;
	padding-right:9px !Important;
	}
.ctl00_wucMenuDinamico2_MnDinamico_6{
	color:#666 !Important;
	font-size:11px !Important;
}
.ctl00_wucMenuDinamico2_MnDinamico_14{
	font-size:11px !Important;
	background-color:#edd9ee!Important;
}
/*FIN MENU  CABECERA*/

.tit-nav-paginas{
	font-family:Arial, Helvetica, sans-serif !Important;
	font-size:12px !Important;
	font-weight:bold !Important;
	color:#843388 !Important;
	height:25px  !Important;
	/*vertical-align:top !Important;*/
	}
.box-estilo01{
	padding: 5px 18px;
    background-color:#f3f3f3 !Important;
	border-top-style:solid !Important;
	border-top-width:1px !Important;
	border-top-color:#843388!Important;
	}
.txt-box-estilo{
	font-family:Arial, Helvetica, sans-serif !Important;
	font-size:11.5px !Important;
	color:#686168 !Important;
	}
	
/*NUEVA GRILLA*/
.mGrid { width: 100%; background-color: #ffffff !important; margin: 5px 0 10px 0; border: solid 1px #e9daea; border-collapse:collapse; }
.mGrid td { padding: 3px; border: solid 1px #e9daea; color: #717171; font-size:11px;   !important; }
.mGrid th { padding: 4px 3px; color: #fff; background: #843388 !important; border-left: solid 1px #843388; font-size: 11.5px; text-align:center; }
.mGrid .alt { background: #f5eff6 !important; }
.mGrid .pgr {background: #843388 !important;}
.mGrid .pgr table { margin: 0px 0 !important; }
.mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px;} 
.mGrid .pgr a { color: #c487c7; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

.mGrid tr {
 	height:18px !important; background-color:transparent !important;
	}

/*GRILLA CON LA COLUMNA Y CABCERA FIJA*/
.mGridFija { border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin: 0px 0 10px 0;
    border-collapse:collapse; }
.mGridFija td { padding: 3px; border: solid 1px;  font-size:11px;}
.mGridFija th { padding: 4px 3px; border-left: solid 1px; font-size: 11.5px; text-align:center; }
.mGridFija .pgr table { margin: 0px 0 !important; }
.mGridFija .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px; font-weight: bold;  line-height: 12px;} 
.mGridFija .pgr a { text-decoration: none; }
.mGridFija .pgr a:hover { text-decoration: none; }
.mGridFija .alt { background: #f5eff6 !important; }
.mGridFija .pgr {background: #843388 !important;}
.mGridFija tr {height:18px !important; }



.mGrid2 { width: 100%; background-color: #ffffff !important; margin: 5px 0 10px 0; border: solid 1px #e9daea; border-collapse:collapse; }
.mGrid2 td { padding: 0px; border: solid 1px #e9daea; color: #717171; font-size:11.5px;   !important; }
.mGrid2 th { padding: 4px 3px; color: #fff; background: #843388 !important; border-left: solid 1px #843388; font-size: 11.5px; text-align:center; }

.mGrid2 .pgr2 {background: #843388 !important;}
.mGrid2 .pgr2 table { margin: 0px 0 !important; }
.mGrid2 .pgr2 td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px;} 
.mGrid2 .pgr2 a { color: #c487c7; text-decoration: none; }
.mGrid2 .pgr2 a:hover { color: #000; text-decoration: none; }



.mGrid3 { width: 100%; background-color: #ffffff !important; margin: 5px 0 10px 0; border: solid 1px #e9daea; border-collapse:collapse; }
.mGrid3 td { padding: 0px; border: solid 1px #e9daea; color: #717171; font-size:11.5px;   !important; }
.mGrid3 th { padding: 4px 3px; color: #fff; background: #9885a5 !important; border-left: solid 1px #9885a5; font-size: 11.5px; text-align:center; }

.mGrid3 .pgr3 {background: #843388 !important;}
.mGrid3 .pgr3 table { margin: 0px 0 !important; }
.mGrid3 .pgr3 td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px;} 
.mGrid3 .pgr3 a { color: #c487c7; text-decoration: none; }
.mGrid3 .pgr3 a:hover { color: #000; text-decoration: none; }


.mGrid4 { width: 100%; background-color: #ffffff !important; margin: 0px 0 0px 0; border-collapse:collapse; border-bottom-width:0px; }
.mGrid4 td { padding: 3px; border-right: 1px dotted silver !important; color: #222222; font-size:12px !important; }
.mGrid4 th { padding: 4px 3px; color: #000; background: #ccc !important; border-top: 0px solid silver;border-right: 1px solid silver; font-size: 11.5px; text-align:center; }
.mGrid4 .alt { background: #FAFAFA !important; }
.mGrid4 .pgr {background: #843388 !important;}
.mGrid4 .pgr table { margin: 0px 0 !important; }
.mGrid4 .pgr td { border-width: 0; padding: 0 6px; font-weight: bold; color: #fff; line-height: 12px;} 
.mGrid4 .pgr a { color: #c487c7; text-decoration: none; }
.mGrid4 .pgr a:hover { color: #000; text-decoration: none; }

.mGrid4 tr {
 	height:18px !important; background-color:transparent !important;
	}


/*FIN NUEVA GRILLA*/	

.tabladatos{
	border-width:1px !important;
	border-collapse:collapse !important;
	border-style:solid !important;
	border-color:#843388 !important;
	background-color:#fbf0ff !important;
}
.tabladatos td{
	padding-left:12px !important;
}
	
#ctl00_MainContent_cboEjecutivo{
	height:19px;
	font-family:Arial, calibri, Verdana;
	line-height:18px;
	color:#686168;
	font-size:11.5px;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}
#ctl00_MainContent_cboScoring{
	height:19px;
	font-family:Arial, calibri, Verdana;
	line-height:18px;
	color:#686168;
	font-size:11.5px;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}
#ctl00_MainContent_cboZonaReparto{
	height:19px;
	font-family:Arial, calibri, Verdana;
	line-height:18px;
	color:#686168;
	font-size:11.5px;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}
.vflot-cab-title{
	background-color:#843388;
	height:23px;
	color:#FFF;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-left:6px;
}

span.resaltar
{
    color: red;
}

/* FIN NUEVO CSS Document */









/* ANTIGUO CSS Document */
IMG{
	border:none;
}
.tit_login{
	font-size:30px;
	font-family:Calibri, Verdana, Arial;
	font-weight:bold;
	color:#FFF;
}
.tit_advance{
	font-size:24px;
	font-family:Calibri, Verdana, Arial;
	font-weight:bold;
	letter-spacing:3px;
	color:#6F3774;
}
.txt{
	font-size:11px;
	font-family:Arial, Calibri, Verdana;
	color:#686168;
}
.txt2{
	font-size:14px;
	font-family:Calibri, Verdana, Arial;
	color:#000;
}

.txt3{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	font-weight:bold;
	color:#3399ff;
	height:12px;
}
.tit_morado{
	/*font-size:12px;
	font-family:Arial, calibri, verdana;
	font-weight:bold;
	color:#843388;*/
	font-family:Arial, Helvetica, sans-serif !Important;
	font-size:12px !Important;
	font-weight:bold !Important;
	color:#843388 !Important;
	height:25px  !Important;
}
.txt_fecha{
	font-size:11px;
	font-family:Calibri, Verdana, Arial;
	color:#000;
}
TD.td_menu{
	/*font-size:15px;
	font-family:Calibri, Verdana, Arial;
	font-weight:bold;
	color:#FFF;*/
	background:#702073;
	padding-left:20px;
	padding-right:20px;
}
TD.td_pie{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	color:#FFF;
	background:#284E98;
	padding-left:20px;
	padding-right:20px;
	height:30px;
	
}

TD.td_tit{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	color:#FFF;
	background:#284E98;
	text-align:center;
	height:24px
}
TD.td_txt{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	color:#000;
	background:#B5C7DE;
	text-align:center;
	height:25px
}
TR.tr_off{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	color:#746e74;
	background:#f5eff6;
	text-align:center;
	height:24px;
	

}
TR.tr_offRows{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	color:#000;	
	text-align:center;
	height:24px;
	border-color:#e9daea !important;
	border-style:solid !important;
	border-width:1px !important;
	border: solid 1px #e9daea !important; 
	border-collapse:collapse;
}
TR.tr_offRows1{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	color:#000;	
	text-align:center;
	height:20px;

	
}
TR.tr_offHeader{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	color:#000;	
	text-align:center;
	height:20px;
	background-color:#843388 !important;
	border-collapse:collapse !important;
}
TR.tr_on{
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	color:#000;
	background:#0FAEDA;
	text-align:center;
	height:24px;
	

}
A.lnk3{
	font-size:10.5px;
	font-family:Arial, Verdana, Calibri;
	font-weight:bold;
	color:#584259;
	background-color:#dddddd;
    border:#d0d0d0 1px solid;
    text-decoration: none;
    margin:4px;
	text-align:center;
    height: 16px;
    overflow: visible;
	display:block;
	padding-right:8px;
	padding-left:8px;
	padding-top:6px;
	padding-bottom:2px;
	width:115px;
}
A.lnk3:hover{
	font-size:10.5px;
	font-family:Arial, Verdana, Calibri;
	font-weight:bold;
	color:#584259;
	background-color:#e6d7e7;
    border:#d0d0d0 1px solid;
    text-decoration: none;
    margin:4px;
	text-align:center;
    height: 16px;
    overflow: visible;
	display:block;
	padding-right:8px;
	padding-left:8px;
	padding-top:6px;
	padding-bottom:2px;
	width:115px;
}



A.lnk2{
	font-size:12px;
	font-family:Arial, Verdana, Calibri;
	font-weight:bold;
	color:#584259;

	background-color:#dddddd;
    border:#d0d0d0 1px solid;
    text-decoration: none;
    margin-right:0px;
    padding: 1px;
	padding-top:4px;
	text-align:center;
    height: 18px;
	width:150px;
    overflow: visible;
	display:block;
}
A.lnk2:hover{
	font-size:12px;
	font-family:Arial, Verdana, Calibri;
	font-weight:bold;
	color:#584259;
	background-color:#e6d7e7;
    border:#d0d0d0 1px solid;
    text-decoration: none;
    margin-right:0px;
    padding: 1px;
	padding-top:4px;
	text-align:center;
    height: 18px;
	width:150px;
    overflow: visible;
	display:block;
}

A.lnk{
	font-size:12px;
	font-family:Arial, Verdana, Calibri;
	font-weight:bold;
	color:#584259;
    height: 18px;
	background-color:#dddddd;
    border:#d0d0d0 1px solid;
    text-decoration: none;
    margin-right:0px;
    padding-top:4px !important;
	text-align:center;
    width:80px;
    overflow: visible;
	display:block;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
}
A.lnk:hover{
	font-size:12px;
	font-family:Arial, Verdana, Calibri;
	font-weight:bold;
	color:#584259;
	background-color:#e6d7e7;
    border:#d0d0d0 1px solid;
    text-decoration: none;
    margin-right:0px;
	padding-top:4px !important;
    padding: 1px;
	text-align:center;
    height: 18px;
	width:80px;
    overflow: visible;
	display:block;
}
A.lnk_menu{
	font-size:15px;
	font-family:Calibri, Verdana, Arial;
	font-weight:bold;
	color:#FFF;
	text-decoration:none
}
A.lnk_menu:hover{
	font-size:15px;
	font-family:Calibri, Verdana, Arial;
	font-weight:bold;
	color:#CCC;
	text-decoration:none
}
a.lnk_btn_without_color{
	font-size:12px;
	font-family:Arial, Verdana, Calibri;
	font-weight:bold;
	color:#ffffff;
	
	background-color:#843388;
    border:#d0d0d0 1px solid;
    text-decoration: none;
    margin-right:0px;
    padding: 2px;
	padding-top:4px !important;
	padding-left:12px;
	padding-right:12px;
	text-align:center;
    height: 18px;
	width:80px;
    overflow: visible;
	display:block;	
}


TD.td{
	background:none;
}
INPUT.ipt_250x20{
/*	width:250px;
	height:20px;
	color:#000;
	font-size:13px;
	font-family:Calibri, Verdana, Arial;
	BORDER-BOTTOM: #6F3774 1px solid;
    BORDER-LEFT: #6F3774 1px solid;
    BORDER-TOP: #6F3774 1px solid;
    BORDER-RIGHT: #6F3774 1px solid*/
	
	width:195px;
	margin-bottom:0px;
	line-height:18px;
	height:19px;
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}
INPUT.ipt_250x20x2{
	
	width:150px;
	margin-bottom:0px;
	line-height:18px;
	height:19px;
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}

INPUT.ipt_50x20{
	border: 1px solid #6F3774;
    width:50px;
	height:20px;
	color:#686168;
	font-size:13px;
	font-family:Arial, calibri, Verdana;
	margin-bottom: 0px;
}
INPUT.ipt_450x20{
	width:719px;
	height:19px;
	font-family:Arial, calibri, Verdana;
	line-height:18px;
	color:#686168;
	font-size:11.5px;
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;
    BORDER-RIGHT: #cacaca 1px solid;
	margin-bottom:3px;
}

INPUT.ipt_150x20{
    width:195px;
	margin-bottom:0px;
	height:19px;
	font-family:Arial, calibri, Verdana;
	line-height:18px;
	color:#686168;
	font-size:11.5px;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}
INPUT.ipt_150x20x2{
    width:175px !important;
	margin-bottom:0px;
	line-height:18px !important;
	height:19px !important;
	color:#686168 !important;
	font-size:11.5px !important;
	font-family:Arial, calibri, Verdana !important;	
	BORDER-BOTTOM: #cacaca 1px solid !important;
    BORDER-LEFT: #cacaca 1px solid !important;
    BORDER-TOP: #cacaca 1px solid !important;    
    BORDER-RIGHT: #cacaca 1px solid !important;
}
INPUT.ipt_150x20x3{
    width:150px;
	margin-bottom:0px;
	height:19px;
	font-family:Arial, calibri, Verdana;
	line-height:18px;
	color:#686168;
	font-size:11.5px;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}
INPUT.ipt_150x20x3b{
    width:140px;
	margin-bottom:0px;
	height:19px;
	font-family:Arial, calibri, Verdana;
	line-height:18px;
	color:#686168;
	font-size:11.5px;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}

INPUT.ipt_100x20{
	border: 1px solid #6F3774;
    width:100px;
	height:20px;
	color:#686168;
	font-size:13px;
	font-family:Arial, calibri, Verdana;
	margin-bottom: 0px;
}
INPUT.ipt_150x18{
	border: 1px solid #6F3774;
    width:150px;
	height:18px;
	color:#686168;
	font-size:13px;
	font-family:Arial, calibri, Verdana;
	margin-bottom: 0px;
}
INPUT.ipt_280x20{
	width:290px;
	height:20px;
	color:#686168;
	line-height:18px !important;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;
    BORDER-RIGHT: #cacaca 1px solid
}
SELECT.slt_250x20{
	width:200px;
	/*height:20px;*/
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid;
}
SELECT.slt_250x20x3{
	width:154px;
	/*height:20px;*/
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid;
}


SELECT.slt_290x20{
	width:290px;
	/*height:21px;*/
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}

SELECT.slt_150x20{
	width:180px;
	/*height:21px;*/
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}
SELECT.slt_150x20x2{
	width:150px;
	/*height:21px;*/
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;    
    BORDER-RIGHT: #cacaca 1px solid
}
SELECT.slt_90x20{
	width:90px;
	/*height:20px;*/
	color:#686168;
	font-size:13px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #6F3774 1px solid;
    BORDER-LEFT: #6F3774 1px solid;
    BORDER-TOP: #6F3774 1px solid;    
    BORDER-RIGHT: #6F3774 1px solid
}
SELECT.slt_50x20{
	width:50px;
	/*height:20px;*/
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;
    BORDER-RIGHT: #cacaca 1px solid
}
SELECT.slt_60x20{
	width:60px;
	/*height:20px;*/
	color:#686168;
	font-size:13px;
	font-family:Arial, calibri, Verdana;	
	BORDER-BOTTOM: #6F3774 1px solid;
    BORDER-LEFT: #6F3774 1px solid;
    BORDER-TOP: #6F3774 1px solid;
    BORDER-RIGHT: #6F3774 1px solid
}
TEXTAREA.txta_450x80{
	width:450px;
	height:80px;
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;
    BORDER-RIGHT: #cacaca 1px solid
}
TEXTAREA.txta_450x80x2{
	width:98%;
	height:80px;
	color:#686168;
	font-size:11.5px;
	font-family:Arial, calibri, Verdana;
	BORDER-BOTTOM: #cacaca 1px solid;
    BORDER-LEFT: #cacaca 1px solid;
    BORDER-TOP: #cacaca 1px solid;
    BORDER-RIGHT: #cacaca 1px solid
}
TD.td_contrato_mnu{
	height:25px;
	BORDER-BOTTOM: #FAEDF4 3px solid;
    BORDER-LEFT: #FAEDF4 3px solid;
    BORDER-TOP: #FAEDF4 3px solid;
    BORDER-RIGHT: #FAEDF4 3px solid;
	background:#FFF;
	padding-left:10px;
	padding-right:10px
}
TD.td_contrato_mnu A{
	color:#6E206E;
	font-size:11px;
	font-family:Calibri, Verdana, Arial;
	text-decoration:none
}

A.lnk_mnu_ctr{
	BORDER-BOTTOM: #843388 0px solid !important;
    BORDER-LEFT: #843388 0px solid !important;
    BORDER-TOP: #843388 0px solid !important;
    BORDER-RIGHT: #843388 0px solid !important;
	background:#ffffff;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	color:#6E206E;
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	text-decoration:none;
	height:25px !important;

}
A.lnk_mnu_ctr:hover{
	BORDER-BOTTOM: #843388 2px solid !important;
    BORDER-LEFT: #843388 0px solid !important;
    BORDER-TOP: #843388 0px solid !important;
    BORDER-RIGHT: #843388 0px solid !important;
	background:#FAEDF4;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	color:#6E206E;
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	text-decoration:none;
	height:25px !important;

}
A.lnk_mnu_ctr_on{
	BORDER-BOTTOM: #843388 1px solid;
    BORDER-LEFT: #843388 1px solid;
    BORDER-TOP: #843388 1px solid;
    BORDER-RIGHT: #843388 1px solid;
	background:#FAEDF4;
	padding-top:3px;
	padding-left:10px;
	padding-right:10px;
	color:#6E206E;
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	text-decoration:none;

}

A.lnk_btn{
	width:100px;
	/*height:16;*/
	height:20px;
	background:#009933;
	color:#FFF;
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
	padding-top:2px;
}
A.lnk_btn:hover{
	width:100px;
	/*height:16;*/
	height:20px;
	background:#FF0000;
	color:#FFF;
	font-size:12px;
	font-family:Calibri, Verdana, Arial;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
	padding-top:2px;
}
A.lnk_btn_without_color
{
    /*height:16;*/
    color: #FFF;
    font-size: 12px;
    font-family: Calibri, Verdana, Arial;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    font-weight: bolder;
	width:134px;
}


.customButton
{	
	background:#009933;
	color:#FFF;
	font-family:Calibri, Verdana, Arial;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;	
}
.customButton:hover {	
	background:#0FAEDA;
	color:#FFF;
	font-family:Calibri, Verdana, Arial;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;	
}



.capa1{ position:absolute;
 z-index:1;
 background-color:transparent; 
 top:180px;
 left:500px;
 width:280px;
 height:80px;
}

.capa2{
 position:absolute;
 z-index:0;
}

.capa3{ position:absolute;
 z-index:1;
 background-color:Gray; 
 top:150px;
 left:465px;
 width:370px;
 height:80px;
}

/*
pruebas lenny
*/
.cabeceraAcordeon
{
    border: 1px solid #2F4F4F;
    color: White;
    background-color: #284E98;
    font-family:Calibri, Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    margin-top:5px;
    cursor: pointer;
}
.contenidoAcordeon
{
    background-color: #B5C7DE;
    border: 1px dashed #2F4F4F;    
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.acordeonLink
{
    background-color: #D3DEEF;
    color: White;
}
.Lbl
{
    width: 85;    
    font-size: smaller;
    font-weight: bold;
    text-align : center;
}
.txt1
{
    border-width: 0px;       
    width : 40px;
    text-align: center;
    background-color:transparent;
}
.txt4
{
    border-width: 0px;    
    width: 70px;
    text-align: center;
}   

.PopupOcultar
{
	display:none;
	visibility : hidden;
}
.PopupMostrar
{
	display:run-in;
}

 .modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.modalPopup
{
    background-color:#FFFFFF !important;
    text-align:left;

/*	width:550px !important;*/
	
}

div.Ubicacion2
{
	width: 500px;
	height: 165px;	
}

#MarcoPopUp
{
    width:505px; 
    height:271px; 
}
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;    
    width: 100%;
}
.LinkURL
{
	border: 0px solid #C0C0C0;
	height: 24px;
}
.imagen
{
     border: 0px solid #C0C0C0;
}
div.Ubicacion1
{
	width: 380px;
	height: 450px;
	
}

div.Body
{
    /*width: 1000px;    
    min-height: 500px ;*/
	min-height: 512px;
    height: auto !important;
	/*height:512px;*/
	padding-bottom:5px;
	padding-top:0px !important;
	padding-left:5px;
	padding-right:5px;
	margin:auto;
	width:98%;
	border-width:0px;
	border-style:solid;
	border-color:#F00;
}
div.pieLenny
{
    height: 80px;
    width: 1000px;
    /*cellpadding : "0";
    cellspacing:"0";*/
        border:"0";
}
.Label1
{
    font-size: large;
    font-family: BrowalliaUPC;
}
div.BodyMensaje
{
    width: 320px;    
    min-height: 40px ;
}
.TabBodyMensaje
{
    width: 320px;    
    min-height: 40px ;
}
.Bound
{ 
 text-align : center;
 font-size : smaller;   
 width : 40px;
}
.watermarked
{
    color: #C0C0C0;
    font-style: italic;    
}

.watermarkedTxtFec
{
    border: 1px solid #6F3774;
    width:100px;
	height:20px;
	margin-bottom: 0px;
    color: #C0C0C0;
    font-style: italic;    
}

.watermarkedTrafico
{
    color: Black;    
    border-width: 0px;
    width: 40px;
    text-align: center;
    background-color: transparent;
}
.imgBE
{
	height:15px;
}
.campline
{
	font-family:Arial, Helvetica, sans-serif !Important;
	font-size:10px !Important;
	color:Red !Important;
}
.line
{
	font-family:Arial, Helvetica, sans-serif !Important;
	font-size:3px !Important;
	color:#686168 !Important;
}