<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- DESARROLLO NS  -->
    <!--<add name="SICDBWEBEntities" connectionString="metadata=res://*/SICModel.csdl|res://*/SICModel.ssdl|res://*/SICModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUANYCARLA-PC;initial catalog=SICDBWEB_DES;user id=sa;password=899833245;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- DESARROLLO NS-SERVER  -->
    <add name="SICDBWEBEntities" connectionString="metadata=res://*/SICModel.csdl|res://*/SICModel.ssdl|res://*/SICModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AE-LENOVO-PC\SQLEXPRESS2008R2;initial catalog=SICDBWEB_DES;user id=sa;password=.;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!-- QA NS-SERVER  -->
    <!--<add name="SICDBWEBEntities" connectionString="metadata=res://*/SICModel.csdl|res://*/SICModel.ssdl|res://*/SICModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER-NS;initial catalog=SICDBWEB_Qa;user id=sa;password=899833245;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- PRODUCCIÓN NS  -->
    <!--<add name="SICDBWEBEntities" connectionString="metadata=res://*/SICModel.csdl|res://*/SICModel.ssdl|res://*/SICModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUANYCARLA-PC;initial catalog=SICDBWEB;user id=sa;password=899833245;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- QA NS  -->
    <!--<add name="SICDBWEBEntities" connectionString="metadata=res://*/SICModel.csdl|res://*/SICModel.ssdl|res://*/SICModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUANYCARLA-PC;initial catalog=SICDBWEB_QA;user id=sa;password=899833245;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- DESAROLLO RP  -->
    <!--<add name="SICDBWEBEntities" connectionString="metadata=res://*/SICModel.csdl|res://*/SICModel.ssdl|res://*/SICModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=SICDBWEB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>